<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <title>Услад апартаменти</title>
</head>
<body>
    <div class="apartments_bg">
        <div>
            <header class="header">
                <a href="#" onclick="location.reload(); return false" class="logo"></a>
                <nav class="hed_nav">
                <a href="/templates/index.html"  class="hed_text">Головна</a>
                <a href="/" onclick="location.reload(); return false" class="hed_text active">Апартаменти</a>
                <a href="/templates/restaurant.html" class="hed_text">Ресторан</a>
                <a href="/templates/services.html" class="hed_text">Послуги</a>
                <a href="/templates/contacts.html" class="hed_text">Контакти</a>
                <a href="/templates/about.html" class="hed_text">Про нас</a>
                <a href="/templates/booking.html" class="hed_text">Бронювання</a>
                <span class="hed_text">+380969909070</span>
                </nav>
            </header>
        </div>
    </div>

<script src="/static/js/script.js"></script>
</body>
</html>