<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Average+Sans&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rufina:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rufina:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Average+Sans&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rufina:wght@400;700&display=swap" rel="stylesheet">
    <title>Услад</title>
</head>
<body>
    <div class="first_bg">
        <!-- header -->
        <div>
            <header class="header">
                <a href="#" onclick="location.reload(); return false" class="logo"></a>
                <nav class="hed_nav">
                <a href="/" onclick="location.reload(); return false" class="hed_text active">Головна</a>
                <a href="/templates/apartments.html" class="hed_text">Апартаменти</a>
                <a href="/templates/restaurant.html" class="hed_text">Ресторан</a>
                <a href="/templates/services.html" class="hed_text">Послуги</a>
                <a href="/templates/contacts.html" class="hed_text">Контакти</a>
                <a href="/templates/about.html" class="hed_text">Про нас</a>
                <a href="/templates/booking.html" class="hed_text">Бронювання</a>
                <span class="hed_text">+380969909070</span>
                </nav>
            </header>
        </div>
    
        <!-- first block -->
        <div class="title-block">
        <h1 class="title">Услад</h1>
        <h2 class="title2">Місце, де відпочиває душа</h2>
        <a href="/templates/apartments.html" class="main-btn">Переглянути номери</a>
        </div>
    </div>

<!-- <script src="/static/js/script.js"></script> -->
</body>
</html>