<!doctype html>
<html lang="ua">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>Услад ресторан</title>
  </head>
  <body>
    <div class="rest_bg">
      <div>
        <header class="header">
          <a href="/" class="logo"></a>

          <div class="burger" id="burger">
            <span></span>
            <span></span>
            <span></span>
          </div>

          <nav class="hed_nav" id="nav-menu">
            <div class="menu-top">
              <a href="/" class="menu-logo"></a>
              <div class="menu-close" id="menu-close">
                <span></span>
                <span></span>
              </div>
            </div>
            <div class="menu-header">
              <h3>Меню</h3>
            </div>
            <hr class="menu-line" />

            <a href="{{ url_for('home') }}" class="hed_text">
              Головна
              <img
                src="/static/images/Головна меню.png"
                alt="Головна"
                class="nav-photo"
              />
            </a>
            <div class="dropdown">
              <a
                href="{{ url_for('home') }}#cottages"
                class="hed_text"
                id="apartments-link"
              >
                Котеджі
                <img
                  src="/static/images/Апартаменти меню.png"
                  alt="Апартаменти"
                  class="nav-photo"
                />
              </a>
              <div class="dropdown-content">
                <a href="{{ url_for('cottage_page', id=1) }}"> Стандарт </a>

                <a href="{{ url_for('cottage_page', id=2) }}"> VIP </a>

                <a href="{{ url_for('cottage_page', id=3) }}"> На воді </a>
                <a href="{{ url_for('cottage_page', id=4) }}"> З лазнею </a>
              </div>
            </div>

            <a href="{{ url_for('restaurant') }}" class="hed_text active">
              Ресторан
              <img
                src="/static/images/Ресторан меню.png"
                alt="Ресторан"
                class="nav-photo"
              />
            </a>

            <a href="{{ url_for('services') }}" class="hed_text">
              Послуги
              <img
                src="/static/images/Послуги меню.png"
                alt="Послуги"
                class="nav-photo"
              />
            </a>

            <a href="{{ url_for('about') }}" class="hed_text">
              Про нас
              <img
                src="/static/images/Про нас меню.png"
                alt="Про нас"
                class="nav-photo"
              />
            </a>

            <a href="{{ url_for('contacts') }}" class="hed_text">
              Контакти
              <img
                src="/static/images/Контакти меню.png"
                alt="Контакти"
                class="nav-photo"
              />
            </a>

            <a href="{{ url_for('home') }}#booking" class="hed_text">
              Бронювання
              <img
                src="/static/images/Бронювання меню.png"
                alt="Бронювання"
                class="nav-photo"
              />
            </a>

            <span class="hed_text phone-num">+380969909070</span>
          </nav>
        </header>
      </div>
    </div>

    <div class="back">
      <h2 class="no-info">На даний момент інформація відсутня</h2>
    </div>

    <footer class="footer">
      <div class="footer__line"></div>

      <div class="footer__inner">
        <!-- Ліва колонка -->
        <div class="footer__column footer__column--left">
          <a href="#top" class="logo footer__logo"></a>

          <p class="footer__title">
            Відпочиваючи в “Усладі”
            <br />
            Ви відчуєте спокій і гармонію
          </p>
        </div>

        <!-- Контакти -->
        <div class="footer__column footer__divider">
          <h3 class="cont-text">Контакти</h3>

          <p class="contact_text">067 111 19 11 – Рецепція</p>
          <p class="contact_text">067 999 99 75 – Ресторан</p>
        </div>

        <!-- Адреса -->
        <div class="footer__column">
          <h3 class="cont-text">Адреса</h3>

          <p class="contact_text">
            с. Ломачинці, Дністровський р-н,<br />
            Чернівецька обл., 60235
          </p>

          <div class="footer-social">
            <a href="https://www.facebook.com/uslad.com.ua" target="_blank">
              <img src="/static/images/facebook.png" alt="Facebook" />
            </a>

            <a href="https://www.instagram.com/tk_uslad/" target="_blank">
              <img src="/static/images/instagram.png" alt="Instagram" />
            </a>

            <a href="https://www.youtube.com/@tvuslad" target="_blank">
              <img src="/static/images/youtube.png" alt="YouTube" />
            </a>
          </div>
        </div>
      </div>
    </footer>

    <script src="/static/js/script.js"></script>
  </body>
</html>
